.box{
    width:300px;
    display:inline-block;
    margin:10px;
    padding:10px 20px;
    border:1px solid black;
    border-radius:10px;
}

dt{
    font-weight:500;
}

.ongoing{
    color:green;
}

.completed{
    color:blue;
}