.App{
    text-align:center;
    font-family:Arial;
}

.office{
    display:inline-block;
    border:1px solid black;
    border-radius:10px;
    padding:15px;
    margin:15px;
    width:320px;
}

img{
    border-radius:10px;
}